#  각 연도 데이터에서 Txt파일을 데이터프레임화 시켜 csv파일로 저장

In [1]:
import pandas as pd

In [2]:
#각 년도별 총 인구에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음

file_path = ['./2011/35_2010년_인구총괄(총인구).txt','./2012/35_2010년_인구총괄(총인구).txt','./2013/35_2010년_인구총괄(총인구).txt',
             './2014/35_2010년_인구총괄(총인구).txt','./2015/35_2015년_인구총괄(총인구).txt','./2016/35_2016년_인구총괄(총인구).txt',
             './2017/35_2017년_인구총괄(총인구).txt','./2018/35_2018년_인구총괄(총인구).txt','./2019/35_2019년_인구총괄(총인구).txt',
             './2020/35_2020년_인구총괄(총인구).txt']

total_pop_2011 = pd.read_csv(file_path[0],sep='^',header=None)
total_pop_2012 = pd.read_csv(file_path[1],sep='^',header=None)
total_pop_2013 = pd.read_csv(file_path[2],sep='^',header=None)
total_pop_2014 = pd.read_csv(file_path[3],sep='^',header=None)
total_pop_2015 = pd.read_csv(file_path[4],sep='^',header=None)
total_pop_2016 = pd.read_csv(file_path[5],sep='^',header=None)
total_pop_2017 = pd.read_csv(file_path[6],sep='^',header=None)
total_pop_2018 = pd.read_csv(file_path[7],sep='^',header=None)
total_pop_2019 = pd.read_csv(file_path[8],sep='^',header=None)
total_pop_2020 = pd.read_csv(file_path[9],sep='^',header=None)

total_pop_name = [total_pop_2011,total_pop_2012,total_pop_2013,total_pop_2014,total_pop_2015,\
                total_pop_2016,total_pop_2017,total_pop_2018,total_pop_2019,total_pop_2020]

In [3]:
#읽어온 총인구를 데이터프레임화

for df in total_pop_name:
    df.sort_values(1,inplace=True)
    df.drop([0,2],axis=1,inplace=True)
    df.rename(columns={0:'year',1:'code',3:'total_pop'},inplace=True)
    df.set_index('code',inplace=True)

In [4]:
#각 년도별 평균나이에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음 

file_path = ['./2011/35_2010년_인구총괄(평균나이).txt','./2012/35_2010년_인구총괄(평균나이).txt','./2013/35_2010년_인구총괄(평균나이).txt',
             './2014/35_2010년_인구총괄(평균나이).txt','./2015/35_2015년_인구총괄(평균나이).txt','./2016/35_2016년_인구총괄(평균나이).txt',
             './2017/35_2017년_인구총괄(평균나이).txt','./2018/35_2018년_인구총괄(평균나이).txt','./2019/35_2019년_인구총괄(평균나이).txt',
             './2020/35_2020년_인구총괄(평균나이).txt']

avg_age_2011 = pd.read_csv(file_path[0],sep='^',header=None)
avg_age_2012 = pd.read_csv(file_path[1],sep='^',header=None)
avg_age_2013 = pd.read_csv(file_path[2],sep='^',header=None)
avg_age_2014 = pd.read_csv(file_path[3],sep='^',header=None)
avg_age_2015 = pd.read_csv(file_path[4],sep='^',header=None)
avg_age_2016 = pd.read_csv(file_path[5],sep='^',header=None)
avg_age_2017 = pd.read_csv(file_path[6],sep='^',header=None)
avg_age_2018 = pd.read_csv(file_path[7],sep='^',header=None)
avg_age_2019 = pd.read_csv(file_path[8],sep='^',header=None)
avg_age_2020 = pd.read_csv(file_path[9],sep='^',header=None)

avg_age_name = [avg_age_2011,avg_age_2012,avg_age_2013,avg_age_2014,avg_age_2015,\
                avg_age_2016,avg_age_2017,avg_age_2018,avg_age_2019,avg_age_2020]

In [5]:
#데이터프레임화

for df in avg_age_name:
    df.sort_values(1,inplace=True)
    df.drop([0,2],axis=1,inplace=True)
    df.rename(columns={0:'year',1:'code',3:'avg_age'},inplace=True)
    df.set_index('code',inplace=True)

In [6]:
#각 년도별 인구밀도에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음 

file_path = ['./2011/35_2010년_인구총괄(인구밀도).txt','./2012/35_2010년_인구총괄(인구밀도).txt',
             './2013/35_2010년_인구총괄(인구밀도).txt','./2014/35_2010년_인구총괄(인구밀도).txt','./2015/35_2015년_인구총괄(인구밀도).txt',
             './2016/35_2016년_인구총괄(인구밀도).txt','./2017/35_2017년_인구총괄(인구밀도).txt','./2018/35_2018년_인구총괄(인구밀도).txt',
             './2019/35_2019년_인구총괄(인구밀도).txt','./2020/35_2020년_인구총괄(인구밀도).txt']

pop_dens_2011 = pd.read_csv(file_path[0],sep='^',header=None)
pop_dens_2012 = pd.read_csv(file_path[1],sep='^',header=None)
pop_dens_2013 = pd.read_csv(file_path[2],sep='^',header=None)
pop_dens_2014 = pd.read_csv(file_path[3],sep='^',header=None)
pop_dens_2015 = pd.read_csv(file_path[4],sep='^',header=None)
pop_dens_2016 = pd.read_csv(file_path[5],sep='^',header=None)
pop_dens_2017 = pd.read_csv(file_path[6],sep='^',header=None)
pop_dens_2018 = pd.read_csv(file_path[7],sep='^',header=None)
pop_dens_2019 = pd.read_csv(file_path[8],sep='^',header=None)
pop_dens_2020 = pd.read_csv(file_path[9],sep='^',header=None)

pop_dens_name = [pop_dens_2011,pop_dens_2012,pop_dens_2013,pop_dens_2014,pop_dens_2015,pop_dens_2016,
                 pop_dens_2017,pop_dens_2018,pop_dens_2019,pop_dens_2020]

In [7]:
#데이터프레임화

for df in pop_dens_name:
    df.sort_values(1,inplace=True)
    df.drop([0,2],axis=1,inplace=True)
    df.rename(columns={0:'year',1:'code',3:'pop_dens'},inplace=True)
    df.set_index('code',inplace=True)

In [8]:
#각 년도별 노령화지수에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음 

file_path = ['./2011/35_2010년_인구총괄(노령화지수).txt','./2012/35_2010년_인구총괄(노령화지수).txt','./2013/35_2010년_인구총괄(노령화지수).txt',
             './2014/35_2010년_인구총괄(노령화지수).txt','./2015/35_2015년_인구총괄(노령화지수).txt','./2016/35_2016년_인구총괄(노령화지수).txt',
             './2017/35_2017년_인구총괄(노령화지수).txt','./2018/35_2018년_인구총괄(노령화지수).txt','./2019/35_2019년_인구총괄(노령화지수).txt',
             './2020/35_2020년_인구총괄(노령화지수).txt']

eld_dep_ratio_2011 = pd.read_csv(file_path[0],sep='^',header=None)
eld_dep_ratio_2012 = pd.read_csv(file_path[1],sep='^',header=None)
eld_dep_ratio_2013 = pd.read_csv(file_path[2],sep='^',header=None)
eld_dep_ratio_2014 = pd.read_csv(file_path[3],sep='^',header=None)
eld_dep_ratio_2015 = pd.read_csv(file_path[4],sep='^',header=None)
eld_dep_ratio_2016 = pd.read_csv(file_path[5],sep='^',header=None)
eld_dep_ratio_2017 = pd.read_csv(file_path[6],sep='^',header=None)
eld_dep_ratio_2018 = pd.read_csv(file_path[7],sep='^',header=None)
eld_dep_ratio_2019 = pd.read_csv(file_path[8],sep='^',header=None)
eld_dep_ratio_2020 = pd.read_csv(file_path[9],sep='^',header=None)

eld_dep_ratio_name = [eld_dep_ratio_2011,eld_dep_ratio_2012,eld_dep_ratio_2013,eld_dep_ratio_2014,eld_dep_ratio_2015,
                      eld_dep_ratio_2016,eld_dep_ratio_2017,eld_dep_ratio_2018,eld_dep_ratio_2019,eld_dep_ratio_2020]

In [9]:
#데이터프레임화

for df in eld_dep_ratio_name:
    df.sort_values(1,inplace=True)
    df.drop([0,2],axis=1,inplace=True)
    df.rename(columns={0:'year',1:'code',3:'eld_dep_ratio'},inplace=True)
    df.set_index('code',inplace=True)

In [10]:
#각 년도별 총주택수에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음 

file_path = ['./2011/35_2010년_주택총괄_총주택(거처)수.txt','./2012/35_2010년_주택총괄_총주택(거처)수.txt','./2013/35_2010년_주택총괄_총주택(거처)수.txt',
             './2014/35_2010년_주택총괄_총주택(거처)수.txt','./2015/35_2015년_주택총괄_총주택(거처)수.txt','./2016/35_2016년_주택총괄_총주택(거처)수.txt',
             './2017/35_2017년_주택총괄_총주택(거처)수.txt','./2018/35_2018년_주택총괄_총주택(거처)수.txt','./2019/35_2019년_주택총괄_총주택(거처)수.txt',
             './2020/35_2020년_주택총괄_총주택(거처)수.txt']

total_house_2011 = pd.read_csv(file_path[0],sep='^',header=None)
total_house_2012 = pd.read_csv(file_path[1],sep='^',header=None)
total_house_2013 = pd.read_csv(file_path[2],sep='^',header=None)
total_house_2014 = pd.read_csv(file_path[3],sep='^',header=None)
total_house_2015 = pd.read_csv(file_path[4],sep='^',header=None)
total_house_2016 = pd.read_csv(file_path[5],sep='^',header=None)
total_house_2017 = pd.read_csv(file_path[6],sep='^',header=None)
total_house_2018 = pd.read_csv(file_path[7],sep='^',header=None)
total_house_2019 = pd.read_csv(file_path[8],sep='^',header=None)
total_house_2020 = pd.read_csv(file_path[9],sep='^',header=None)

total_house_name = [total_house_2011,total_house_2012,total_house_2013,total_house_2014,total_house_2015,total_house_2016,
                    total_house_2017,total_house_2018,total_house_2019,total_house_2020]

In [11]:
#데이터프레임화

for df in total_house_name:
    df.sort_values(1,inplace=True)
    df.drop([0,2],axis=1,inplace=True)
    df.rename(columns={0:'year',1:'code',3:'total_house'},inplace=True)
    df.set_index('code',inplace=True)

In [12]:
#각 년도별 총사업체수에 대한 데이터프레임
#연도수가 정확하게 표현되어 있음

file_path = ['./2011/35_2011년_산업분류별(9차_대분류)_총괄사업체수.txt','./2012/35_2012년_산업분류별(9차_대분류)_총괄사업체수.txt','./2013/35_2013년_산업분류별(9차_대분류)_총괄사업체수.txt',
             './2014/35_2014년_산업분류별(9차_대분류)_총괄사업체수.txt','./2015/35_2015년_산업분류별(9차_대분류)_총괄사업체수.txt','./2016/35_2016년_산업분류별(9차_대분류)_총괄사업체수.txt',
             './2017/35_2017년_산업분류별(10차_대분류)_총괄사업체수.txt','./2018/35_2018년_산업분류별(10차_대분류)_총괄사업체수.txt','./2019/35_2019년_산업분류별(10차_대분류)_총괄사업체수.txt',
             './2020/35_2020년_산업분류별(10차_대분류)_총괄사업체수.txt']

total_corp_2011 = pd.read_csv(file_path[0],sep='^',header=None)
total_corp_2012 = pd.read_csv(file_path[1],sep='^',header=None)
total_corp_2013 = pd.read_csv(file_path[2],sep='^',header=None)
total_corp_2014 = pd.read_csv(file_path[3],sep='^',header=None)
total_corp_2015 = pd.read_csv(file_path[4],sep='^',header=None)
total_corp_2016 = pd.read_csv(file_path[5],sep='^',header=None)
total_corp_2017 = pd.read_csv(file_path[6],sep='^',header=None)
total_corp_2018 = pd.read_csv(file_path[7],sep='^',header=None)
total_corp_2019 = pd.read_csv(file_path[8],sep='^',header=None)
total_corp_2020 = pd.read_csv(file_path[9],sep='^',header=None)

total_corp_name = [total_corp_2011,total_corp_2012,total_corp_2013,total_corp_2014,total_corp_2015,total_corp_2016,
                   total_corp_2017,total_corp_2018,total_corp_2019,total_corp_2020]

In [13]:
#데이터프레임화

for df in total_corp_name:
    df.sort_values(1,inplace=True)
    df.drop([0,2],axis=1,inplace=True)
    df.rename(columns={0:'year',1:'code',3:'total_corp'},inplace=True)
    df.set_index('code',inplace=True)

In [14]:
#2020년도 건축년도별 주택 데이터를 통해서 2011~2020까지의 데이터를 채우기

house_age = pd.read_csv('./2020/35_2020년_건축년도별주택.txt',sep='^',header=None)
house_age.sort_values([1,2],inplace=True)

house_age.set_index(1,inplace=True)
house_age.drop([0],axis=1,inplace=True)
house_age

                        2     3
1
35011600010001  ho_yr_001  95.0
35011600010001  ho_yr_002  27.0
35011600010001  ho_yr_003  15.0
35011600010001  ho_yr_004   5.0
35011600010001  ho_yr_005   NaN
...                   ...   ...
35580420010191  ho_yr_009   NaN
35580420010205  ho_yr_999   0.0
35580420010234  ho_yr_999   0.0
35580420010255  ho_yr_999   0.0
35580420010258  ho_yr_999   0.0

[23257 rows x 2 columns]

In [15]:
group = house_age.groupby(2)
group_frames = [group_data for _,group_data in group]
merge_df = pd.concat(group_frames,axis=1)
merge_df.columns = [i for i in range(merge_df.shape[1])]

for column in merge_df.columns:
    if column%2 == 0:
        f_index = merge_df[column].first_valid_index()
        f_value = str(merge_df.loc[f_index,column])
    elif column%2 == 1:
        merge_df = merge_df.rename(columns={merge_df.columns[column]: f_value})
    
for column in merge_df.columns:
    if type(column) == int:
        merge_df.drop(column,axis=1,inplace=True)

merge_df

,ho_yr_001,ho_yr_002,ho_yr_003,ho_yr_004,ho_yr_005,ho_yr_006,ho_yr_007,ho_yr_008,ho_yr_009,ho_yr_010,ho_yr_011,ho_yr_012,ho_yr_013,ho_yr_014,ho_yr_015,ho_yr_016,ho_yr_999
1,,,,,,,,,,,,,,,,,
35011600010001,95.0,27.0,15.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35011600010002,116.0,26.0,17.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35011600010003,42.0,NaN,NaN,15.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35011600020001,26.0,32.0,81.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35011600020002,39.0,30.0,96.0,10.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35580420010166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
35580420010205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
35580420010234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
35580420010255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
35580420010258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [16]:
for index,row in merge_df.iterrows():
    if row['ho_yr_999'] != 0.0:
        row.fillna(0,inplace=True)
    else:
        row['ho_yr_999'] = 1

merge_df

,ho_yr_001,ho_yr_002,ho_yr_003,ho_yr_004,ho_yr_005,ho_yr_006,ho_yr_007,ho_yr_008,ho_yr_009,ho_yr_010,ho_yr_011,ho_yr_012,ho_yr_013,ho_yr_014,ho_yr_015,ho_yr_016,ho_yr_999
1,,,,,,,,,,,,,,,,,
35011600010001,95.0,27.0,15.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35011600010002,116.0,26.0,17.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35011600010003,42.0,0.0,0.0,15.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35011600020001,26.0,32.0,81.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35011600020002,39.0,30.0,96.0,10.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35580420010166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [17]:
#건축연도별 주택 수에 대해서 당해 연도의 건축물 수 까지만 고려하여 건축물 수 계산

house_df = merge_df.copy()
house_df.rename(columns={'ho_yr_001' : '1970s','ho_yr_002' : '1980s','ho_yr_003' : '1990s','ho_yr_004' : '2000-2004','ho_yr_005' : '2005-2009','ho_yr_999' : 'no_yr_data'},inplace=True)
new_order = ['1970s','1980s','1990s','2000-2004','2005-2009','2010-2014','2015-2020','no_yr_data']

house_age_2011 = house_df.copy()
house_age_2011['2010-2014'] = house_age_2011['ho_yr_006'] + house_age_2011['ho_yr_007']
house_age_2011['2015-2020'] = 0
house_age_2011.drop(house_age_2011.columns[5:16],axis=1,inplace=True)
house_age_2011 = house_age_2011.reindex(columns=new_order)

house_age_2012 = house_df.copy()
house_age_2012['2010-2014'] = house_age_2012['ho_yr_006'] + house_age_2012['ho_yr_007'] + house_age_2012['ho_yr_008']
house_age_2012['2015-2020'] = 0
house_age_2012.drop(house_age_2012.columns[5:16],axis=1,inplace=True)
house_age_2012 = house_age_2012.reindex(columns=new_order)

house_age_2013 = house_df.copy()
house_age_2013['2010-2014'] = house_age_2013['ho_yr_006'] + house_age_2013['ho_yr_007'] + house_age_2013['ho_yr_008'] + house_age_2013['ho_yr_009']
house_age_2013['2015-2020'] = 0
house_age_2013.drop(house_age_2013.columns[5:16],axis=1,inplace=True)
house_age_2013 = house_age_2013.reindex(columns=new_order)

house_age_2014 = house_df.copy()
house_age_2014['2010-2014'] = house_age_2014['ho_yr_006'] + house_age_2014['ho_yr_007'] + house_age_2014['ho_yr_008'] + house_age_2014['ho_yr_009'] + house_age_2014['ho_yr_010']
house_age_2014['2015-2020'] = 0
house_age_2014.drop(house_age_2014.columns[5:16],axis=1,inplace=True)
house_age_2014 = house_age_2014.reindex(columns=new_order)

house_age_2015 = house_df.copy()
house_age_2015['2010-2014'] = house_age_2015['ho_yr_006'] + house_age_2015['ho_yr_007'] + house_age_2015['ho_yr_008'] + house_age_2015['ho_yr_009'] + house_age_2015['ho_yr_010']
house_age_2015['2015-2020'] = house_age_2015['ho_yr_011']
house_age_2015.drop(house_age_2015.columns[5:16],axis=1,inplace=True)
house_age_2015 = house_age_2015.reindex(columns=new_order)

house_age_2016 = house_df.copy()
house_age_2016['2010-2014'] = house_age_2016['ho_yr_006'] + house_age_2016['ho_yr_007'] + house_age_2016['ho_yr_008'] + house_age_2016['ho_yr_009'] + house_age_2016['ho_yr_010']
house_age_2016['2015-2020'] = house_age_2016['ho_yr_011'] + house_age_2016['ho_yr_012'] 
house_age_2016 = house_age_2016.reindex(columns=new_order)

house_age_2017 = house_df.copy()
house_age_2017['2010-2014'] = house_age_2017['ho_yr_006'] + house_age_2017['ho_yr_007'] + house_age_2017['ho_yr_008'] + house_age_2017['ho_yr_009'] + house_age_2017['ho_yr_010']
house_age_2017['2015-2020'] = house_age_2017['ho_yr_011'] + house_age_2017['ho_yr_012'] + house_age_2017['ho_yr_013'] 
house_age_2017.drop(house_age_2017.columns[5:16],axis=1,inplace=True)
house_age_2017 = house_age_2017.reindex(columns=new_order)

house_age_2018 = house_df.copy()
house_age_2018['2010-2014'] = house_age_2018['ho_yr_006'] + house_age_2018['ho_yr_007'] + house_age_2018['ho_yr_008'] + house_age_2018['ho_yr_009'] + house_age_2018['ho_yr_010']
house_age_2018['2015-2020'] = house_age_2018['ho_yr_011'] + house_age_2018['ho_yr_012'] + house_age_2018['ho_yr_013'] + house_age_2018['ho_yr_014'] 
house_age_2018.drop(house_age_2018.columns[5:16],axis=1,inplace=True)
house_age_2018 = house_age_2018.reindex(columns=new_order)

house_age_2019 = house_df.copy()
house_age_2019['2010-2014'] = house_age_2019['ho_yr_006'] + house_age_2019['ho_yr_007'] + house_age_2019['ho_yr_008'] + house_age_2019['ho_yr_009'] + house_age_2019['ho_yr_010']
house_age_2019['2015-2020'] = house_age_2019['ho_yr_011'] + house_age_2019['ho_yr_012'] + house_age_2019['ho_yr_013'] + house_age_2019['ho_yr_014'] + house_age_2019['ho_yr_015'] 
house_age_2019.drop(house_age_2019.columns[5:16],axis=1,inplace=True)
house_age_2019 = house_age_2019.reindex(columns=new_order)

house_age_2020 = house_df.copy()
house_age_2020['2010-2014'] = house_age_2020['ho_yr_006'] + house_age_2020['ho_yr_007'] + house_age_2020['ho_yr_008'] + house_age_2020['ho_yr_009'] + house_age_2020['ho_yr_010']
house_age_2020['2015-2020'] = house_age_2020['ho_yr_011'] + house_age_2020['ho_yr_012'] + house_age_2020['ho_yr_013'] + house_age_2020['ho_yr_014'] + house_age_2020['ho_yr_015'] + house_age_2020['ho_yr_016']
house_age_2020.drop(house_age_2020.columns[5:16],axis=1,inplace=True)
house_age_2020 = house_age_2020.reindex(columns=new_order)

house_age_name = [house_age_2011,house_age_2012,house_age_2013,house_age_2014,house_age_2015,house_age_2016,house_age_2017,
                  house_age_2018,house_age_2019,house_age_2020]

In [18]:
#각 년도별 연건평별 건물 수에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음 

file_path = ['./2011/35_2010년_연건평별주택.txt','./2012/35_2010년_연건평별주택.txt','./2013/35_2010년_연건평별주택.txt',
             './2014/35_2010년_연건평별주택.txt','./2015/35_2015년_연건평별주택.txt','./2016/35_2016년_연건평별주택.txt',
             './2017/35_2017년_연건평별주택.txt','./2018/35_2018년_연건평별주택.txt','./2019/35_2019년_연건평별주택.txt',
             './2020/35_2020년_연건평별주택.txt']

house_area_2011 = pd.read_csv(file_path[0],sep='^',header=None)
house_area_2012 = pd.read_csv(file_path[1],sep='^',header=None)
house_area_2013 = pd.read_csv(file_path[2],sep='^',header=None)
house_area_2014 = pd.read_csv(file_path[3],sep='^',header=None)
house_area_2015 = pd.read_csv(file_path[4],sep='^',header=None)
house_area_2016 = pd.read_csv(file_path[5],sep='^',header=None)
house_area_2017 = pd.read_csv(file_path[6],sep='^',header=None)
house_area_2018 = pd.read_csv(file_path[7],sep='^',header=None)
house_area_2019 = pd.read_csv(file_path[8],sep='^',header=None)
house_area_2020 = pd.read_csv(file_path[9],sep='^',header=None)

ex_house_area_name = [house_area_2011,house_area_2012,house_area_2013,house_area_2014,house_area_2015,house_area_2016,
                      house_area_2017,house_area_2018,house_area_2019,house_area_2020]
house_area_name = []

In [19]:
for df in ex_house_area_name:
    df.sort_values([1,2],inplace=True)
    df.set_index(1,inplace=True)
    df.drop(0,axis=1,inplace=True)

for df in ex_house_area_name:
    group = df.groupby(2)
    group_frames = [group_data for _,group_data in group]
    merge_df = pd.concat(group_frames,axis=1)
    merge_df.columns = [i for i in range(merge_df.shape[1])]

    for column in merge_df.columns:
        if column%2 == 0:
            f_index = merge_df[column].first_valid_index()
            f_value = str(merge_df.loc[f_index,column])
        elif column%2 == 1:
            merge_df = merge_df.rename(columns={merge_df.columns[column]: f_value})
        
    for column in merge_df.columns:
        if type(column) == int:
            merge_df.drop(column,axis=1,inplace=True)

    for index,row in merge_df.iterrows():
        if row['ho_ar_999'] != 0.0:
            row.fillna(0,inplace=True)
        else:
            row['ho_ar_999'] = 1
    house_area_name.append(merge_df)

house_area_name[4]

,ho_ar_001,ho_ar_002,ho_ar_003,ho_ar_004,ho_ar_005,ho_ar_006,ho_ar_007,ho_ar_008,ho_ar_009,ho_ar_999
1,,,,,,,,,,
35011600010002,0.0,29.0,49.0,61.0,14.0,28.0,18.0,5.0,10.0,0.0
35011600010003,24.0,65.0,20.0,17.0,7.0,6.0,5.0,0.0,5.0,0.0
35011600020002,0.0,15.0,80.0,27.0,12.0,23.0,15.0,15.0,18.0,0.0
35011600020003,0.0,11.0,22.0,36.0,28.0,22.0,6.0,0.0,0.0,0.0
35011600020004,0.0,19.0,56.0,67.0,14.0,14.0,8.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
35580420010166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
35580420010258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [20]:
#각 년도별 주택유형별 건물 수에 대한 데이터프레임
#2010~2014까지는 데이터가 5년 단위로 있기에 같은 데이터를 입력 받음 

file_path = ['./2011/35_2010년_주택유형별주택.txt','./2012/35_2010년_주택유형별주택.txt','./2013/35_2010년_주택유형별주택.txt',
             './2014/35_2010년_주택유형별주택.txt','./2015/35_2015년_주택유형별주택.txt','./2016/35_2016년_주택유형별주택.txt',
             './2017/35_2017년_주택유형별주택.txt','./2018/35_2018년_주택유형별주택.txt','./2019/35_2019년_주택유형별주택.txt',
             './2020/35_2020년_주택유형별주택.txt']

house_type_2011 = pd.read_csv(file_path[0],sep='^',header=None)
house_type_2012 = pd.read_csv(file_path[1],sep='^',header=None)
house_type_2013 = pd.read_csv(file_path[2],sep='^',header=None)
house_type_2014 = pd.read_csv(file_path[3],sep='^',header=None)
house_type_2015 = pd.read_csv(file_path[4],sep='^',header=None)
house_type_2016 = pd.read_csv(file_path[5],sep='^',header=None)
house_type_2017 = pd.read_csv(file_path[6],sep='^',header=None)
house_type_2018 = pd.read_csv(file_path[7],sep='^',header=None)
house_type_2019 = pd.read_csv(file_path[8],sep='^',header=None)
house_type_2020 = pd.read_csv(file_path[9],sep='^',header=None)

ex_house_type_name = [house_type_2011,house_type_2012,house_type_2013,house_type_2014,house_type_2015,house_type_2016,
                      house_type_2017,house_type_2018,house_type_2019,house_type_2020]
house_type_name = []

In [21]:
for df in ex_house_type_name:
    df.sort_values([1,2],inplace=True)
    df.set_index(1,inplace=True)
    df.drop(0,axis=1,inplace=True)

for df in ex_house_type_name:
    group = df.groupby(2)
    group_frames = [group_data for _,group_data in group]
    merge_df = pd.concat(group_frames,axis=1)
    merge_df.columns = [i for i in range(merge_df.shape[1])]

    for column in merge_df.columns:
        if column%2 == 0:
            f_index = merge_df[column].first_valid_index()
            f_value = str(merge_df.loc[f_index,column])
        elif column%2 == 1:
            merge_df = merge_df.rename(columns={merge_df.columns[column]: f_value})
        
    for column in merge_df.columns:
        if type(column) == int:
            merge_df.drop(column,axis=1,inplace=True)

    for index,row in merge_df.iterrows():
        if row['ho_gb_999'] != 0.0:
            row.fillna(0,inplace=True)
        else:
            row['ho_gb_999'] = 1

    house_type_name.append(merge_df)

In [22]:
#각 년도별 산업분류별 산업 수에 대한 데이터프레임
#19,20년도는 자료가 없는 집계구에서 대해서 따로 처리하지 않고 값을 아예 입력하지 않음

file_path = ['./2011/35_2011년_산업분류별(9차_대분류)_사업체수.txt','./2012/35_2012년_산업분류별(9차_대분류)_사업체수.txt','./2013/35_2013년_산업분류별(9차_대분류)_사업체수.txt',
             './2014/35_2014년_산업분류별(9차_대분류)_사업체수.txt','./2015/35_2015년_산업분류별(9차_대분류)_사업체수.txt','./2016/35_2016년_산업분류별(9차_대분류)_사업체수.txt',
             './2017/35_2017년_산업분류별(10차_대분류)_사업체수.txt','./2018/35_2018년_산업분류별(10차_대분류)_사업체수.txt','./2019/35_2019년_산업분류별(10차_대분류)_사업체수.txt',
             './2020/35_2020년_산업분류별(10차_대분류)_사업체수.txt']

corp_type_2011 = pd.read_csv(file_path[0],sep='^',header=None)
corp_type_2012 = pd.read_csv(file_path[1],sep='^',header=None)
corp_type_2013 = pd.read_csv(file_path[2],sep='^',header=None)
corp_type_2014 = pd.read_csv(file_path[3],sep='^',header=None)
corp_type_2015 = pd.read_csv(file_path[4],sep='^',header=None)
corp_type_2016 = pd.read_csv(file_path[5],sep='^',header=None)
corp_type_2017 = pd.read_csv(file_path[6],sep='^',header=None)
corp_type_2018 = pd.read_csv(file_path[7],sep='^',header=None)
corp_type_2019 = pd.read_csv(file_path[8],sep='^',header=None)
corp_type_2020 = pd.read_csv(file_path[9],sep='^',header=None)

ex_corp_type_name = [corp_type_2011,corp_type_2012,corp_type_2013,corp_type_2014,corp_type_2015,corp_type_2016,
                      corp_type_2017,corp_type_2018,corp_type_2019,corp_type_2020]
corp_type_name = []

for df in ex_corp_type_name:
    df.sort_values([1,2],inplace=True)
    df.set_index(1,inplace=True)
    df.drop(0,axis=1,inplace=True)

In [23]:
import numpy as np

i=0

for df in ex_corp_type_name:
    group = df.groupby(2)
    group_frames = [group_data for _,group_data in group]
    merge_df = pd.concat(group_frames,axis=1)
    merge_df.columns = [i for i in range(merge_df.shape[1])]

    for column in merge_df.columns:
        if column%2 == 0:
            f_index = merge_df[column].first_valid_index()
            f_value = str(merge_df.loc[f_index,column])
        elif column%2 == 1:
            merge_df = merge_df.rename(columns={merge_df.columns[column]: f_value})
        
    for column in merge_df.columns:
        if type(column) == int:
            merge_df.drop(column,axis=1,inplace=True)
    if i >= 8:
        for index,row in merge_df.iterrows():
            row.fillna(0,inplace=True)
    else:
        for index,row in merge_df.iterrows():
            if row['cp_bnu_999'] != 0:
                row.fillna(0,inplace=True)
            else:
                row['cp_bnu_999'] = 1
    
    i = i+1

    corp_type_name.append(merge_df)

corp_type_name[9].head(15)

,cp_bnu_001,cp_bnu_002,cp_bnu_003,cp_bnu_004,cp_bnu_005,cp_bnu_006,cp_bnu_007,cp_bnu_008,cp_bnu_009,cp_bnu_010,cp_bnu_011,cp_bnu_012,cp_bnu_013,cp_bnu_014,cp_bnu_015,cp_bnu_016,cp_bnu_017,cp_bnu_018,cp_bnu_019
1,,,,,,,,,,,,,,,,,,,
35011620010006,0.0,0.0,6.0,0.0,0.0,10.0,54.0,0.0,171.0,0.0,0.0,9.0,5.0,0.0,0.0,10.0,12.0,16.0,27.0
35011630020009,0.0,0.0,8.0,0.0,0.0,16.0,78.0,0.0,78.0,0.0,0.0,23.0,11.0,5.0,0.0,115.0,8.0,12.0,38.0
35011630020012,0.0,0.0,6.0,0.0,0.0,15.0,88.0,8.0,26.0,5.0,0.0,19.0,17.0,8.0,0.0,13.0,15.0,11.0,20.0
35011650010003,0.0,0.0,0.0,0.0,0.0,12.0,33.0,0.0,13.0,0.0,0.0,5.0,7.0,0.0,0.0,18.0,0.0,0.0,17.0
35011650010005,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
35011650010006,0.0,0.0,5.0,0.0,0.0,13.0,31.0,0.0,43.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,6.0,5.0,32.0
35011650030001,0.0,0.0,0.0,0.0,0.0,13.0,38.0,0.0,19.0,0.0,0.0,5.0,5.0,5.0,0.0,0.0,8.0,7.0,20.0
35011650040002,0.0,0.0,9.0,0.0,0.0,5.0,42.0,0.0,48.0,0.0,0.0,7.0,6.0,0.0,0.0,23.0,18.0,9.0,35.0
35011650050002,0.0,0.0,6.0,0.0,0.0,0.0,14.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
35011650050003,0.0,0.0,8.0,0.0,0.0,11.0,113.0,0.0,49.0,0.0,0.0,19.0,5.0,0.0,0.0,18.0,19.0,13.0,41.0
35011650050602,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35011660030001,0.0,0.0,8.0,0.0,0.0,17.0,62.0,0.0,13.0,0.0,0.0,26.0,10.0,7.0,0.0,14.0,10.0,0.0,28.0
35011660040001,0.0,0.0,0.0,0.0,0.0,0.0,69.0,0.0,48.0,0.0,6.0,5.0,5.0,0.0,0.0,13.0,6.0,12.0,29.0
35011680020002,0.0,0.0,0.0,0.0,0.0,0.0,48.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,9.0,16.0
35011680020011,0.0,0.0,5.0,0.0,0.0,5.0,21.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0

In [24]:
#각 년도별 산업분류별 종사자 수에 대한 데이터프레임


file_path = ['./2011/35_2011년_산업분류별(9차_대분류)_종사자수.txt','./2012/35_2012년_산업분류별(9차_대분류)_종사자수.txt','./2013/35_2013년_산업분류별(9차_대분류)_종사자수.txt',
             './2014/35_2014년_산업분류별(9차_대분류)_종사자수.txt','./2015/35_2015년_산업분류별(9차_대분류)_종사자수.txt','./2016/35_2016년_산업분류별(9차_대분류)_종사자수.txt',
             './2017/35_2017년_산업분류별(10차_대분류)_종사자수.txt','./2018/35_2018년_산업분류별(10차_대분류)_종사자수.txt','./2019/35_2019년_산업분류별(10차_대분류)_종사자수.txt',
             './2020/35_2020년_산업분류별(10차_대분류)_종사자수.txt']

corp_pop_2011 = pd.read_csv(file_path[0],sep='^',header=None)
corp_pop_2012 = pd.read_csv(file_path[1],sep='^',header=None)
corp_pop_2013 = pd.read_csv(file_path[2],sep='^',header=None)
corp_pop_2014 = pd.read_csv(file_path[3],sep='^',header=None)
corp_pop_2015 = pd.read_csv(file_path[4],sep='^',header=None)
corp_pop_2016 = pd.read_csv(file_path[5],sep='^',header=None)
corp_pop_2017 = pd.read_csv(file_path[6],sep='^',header=None)
corp_pop_2018 = pd.read_csv(file_path[7],sep='^',header=None)
corp_pop_2019 = pd.read_csv(file_path[8],sep='^',header=None)
corp_pop_2020 = pd.read_csv(file_path[9],sep='^',header=None)

ex_corp_pop_name = [corp_pop_2011,corp_pop_2012,corp_pop_2013,corp_pop_2014,corp_pop_2015,corp_pop_2016,
                      corp_pop_2017,corp_pop_2018,corp_pop_2019,corp_pop_2020]
corp_pop_name = []

In [25]:
for df in ex_corp_pop_name:
    df.sort_values([1,2],inplace=True)
    df.set_index(1,inplace=True)
    df.drop(0,axis=1,inplace=True)

for df in ex_corp_pop_name:
    group = df.groupby(2)
    group_frames = [group_data for _,group_data in group]
    merge_df = pd.concat(group_frames,axis=1)
    merge_df.columns = [i for i in range(merge_df.shape[1])]

    for column in merge_df.columns:
        if column%2 == 0:
            f_index = merge_df[column].first_valid_index()
            f_value = str(merge_df.loc[f_index,column])
        elif column%2 == 1:
            merge_df = merge_df.rename(columns={merge_df.columns[column]: f_value})
        
    for column in merge_df.columns:
        if type(column) == int:
            merge_df.drop(column,axis=1,inplace=True)

    for index,row in merge_df.iterrows():
        if row['cp_bem_999'] != 0.0:
            row.fillna(0,inplace=True)
        else:
            row['cp_bem_999'] = 1

    corp_pop_name.append(merge_df)

In [26]:
#앞에서 정리한 데이터프레임들을 연도에 맞춰 합치기

data_2011 = pd.concat([total_pop_name[0],avg_age_name[0],pop_dens_name[0],eld_dep_ratio_name[0],total_house_name[0], house_area_name[0],
                       house_age_name[0],house_type_name[0],total_corp_name[0],corp_type_name[0],corp_pop_name[0]],axis=1)

data_2012 = pd.concat([total_pop_name[1],avg_age_name[1],pop_dens_name[1],eld_dep_ratio_name[1],total_house_name[1], house_area_name[1],
                       house_age_name[1],house_type_name[1],total_corp_name[1],corp_type_name[1],corp_pop_name[1]],axis=1)

data_2013 = pd.concat([total_pop_name[2],avg_age_name[2],pop_dens_name[2],eld_dep_ratio_name[2],total_house_name[2], house_area_name[2],
                       house_age_name[2],house_type_name[2],total_corp_name[2],corp_type_name[2],corp_pop_name[2]],axis=1)

data_2014 = pd.concat([total_pop_name[3],avg_age_name[3],pop_dens_name[3],eld_dep_ratio_name[3],total_house_name[3], house_area_name[3],
                       house_age_name[3],house_type_name[3],total_corp_name[3],corp_type_name[3],corp_pop_name[3]],axis=1)

data_2015 = pd.concat([total_pop_name[4],avg_age_name[4],pop_dens_name[4],eld_dep_ratio_name[4],total_house_name[4], house_area_name[4],
                       house_age_name[4],house_type_name[4],total_corp_name[4],corp_type_name[4],corp_pop_name[4]],axis=1)

data_2016 = pd.concat([total_pop_name[5],avg_age_name[5],pop_dens_name[5],eld_dep_ratio_name[5],total_house_name[5], house_area_name[5],
                       house_age_name[5],house_type_name[5],total_corp_name[5],corp_type_name[5],corp_pop_name[5]],axis=1)

data_2017 = pd.concat([total_pop_name[6],avg_age_name[6],pop_dens_name[6],eld_dep_ratio_name[6],total_house_name[6], house_area_name[6],
                       house_age_name[6],house_type_name[6],total_corp_name[6],corp_type_name[6],corp_pop_name[6]],axis=1)

data_2018 = pd.concat([total_pop_name[7],avg_age_name[7],pop_dens_name[7],eld_dep_ratio_name[7],total_house_name[7], house_area_name[7],
                       house_age_name[7],house_type_name[7],total_corp_name[7],corp_type_name[7],corp_pop_name[7]],axis=1)

data_2019 = pd.concat([total_pop_name[8],avg_age_name[8],pop_dens_name[8],eld_dep_ratio_name[8],total_house_name[8], house_area_name[8],
                       house_age_name[8],house_type_name[8],total_corp_name[8],corp_type_name[8],corp_pop_name[8]],axis=1)

data_2020 = pd.concat([total_pop_name[9],avg_age_name[9],pop_dens_name[9],eld_dep_ratio_name[9],total_house_name[9], house_area_name[9],
                       house_age_name[9],house_type_name[9],total_corp_name[9],corp_type_name[9],corp_pop_name[9]],axis=1)

In [27]:
#계절이 아닌 년도별로 데이터프레임 저장하기

m1_list = [data_2011,data_2012,data_2013,data_2014,data_2015,data_2016,data_2017,data_2018,data_2019,data_2020]

m1_list[0].to_csv('./code_data/ycode_2011.csv',index=True,encoding='EUC-KR')

m1_list[1].to_csv('./code_data/ycode_2012.csv',index=True,encoding='EUC-KR')

m1_list[2].to_csv('./code_data/ycode_2013.csv',index=True,encoding='EUC-KR')

m1_list[3].to_csv('./code_data/ycode_2014.csv',index=True,encoding='EUC-KR')

m1_list[4].to_csv('./code_data/ycode_2015.csv',index=True,encoding='EUC-KR')

m1_list[5].to_csv('./code_data/ycode_2016.csv',index=True,encoding='EUC-KR')

m1_list[6].to_csv('./code_data/ycode_2017.csv',index=True,encoding='EUC-KR')

m1_list[7].to_csv('./code_data/ycode_2018.csv',index=True,encoding='EUC-KR')

m1_list[8].to_csv('./code_data/ycode_2019.csv',index=True,encoding='EUC-KR')

m1_list[9].to_csv('./code_data/ycode_2020.csv',index=True,encoding='EUC-KR')

In [28]:
data_list = [data_2011,data_2012,data_2013,data_2014,data_2015,data_2016,data_2017,data_2018,data_2019,data_2020]

for df in data_list:
    df.reset_index(inplace=True)
    df.rename(columns={'index' : 'code'},inplace=True)

    #집계구 코드를 바탕으로 도시번호와 동번호를 열에 추가
    df['do_index'] = 35
    df['si_index'] = df.apply(lambda row : int(str(row['code'])[2:5]), axis = 1)
    df['dong_index'] = df.apply(lambda row : int(str(row['code'])[5:8]), axis = 1)

In [29]:
#amd_code 파일에 도시번호와 동번호에 대한 이름이 리스트화 되어 있음

index_data = pd.read_excel('./압축파일/ref_code/adm_code.xls',sheet_name='2022년6월',
                     usecols='C:F', skiprows=2302,nrows=243,header=None)

index_data

       2        3    4      5
0     11  전주시 완산구  600   동서학동
1     11  전주시 완산구  610   서서학동
2     11  전주시 완산구  620  중화산1동
3     11  전주시 완산구  630  중화산2동
4     11  전주시 완산구  640   평화1동
..   ...      ...  ...    ...
238  580      부안군  380    백산면
239  580      부안군  390    상서면
240  580      부안군  400    하서면
241  580      부안군  410    줄포면
242  580      부안군  420    위도면

[243 rows x 4 columns]

In [30]:
#현재까지 처리한 집계구 데이터와 집계구 번호를 기반으로한 시, 동이름 엑셀파일을 합치기

merged_list = []
for df in data_list:
    df = pd.merge(df,index_data,left_on = ['si_index','dong_index'],right_on = [2,4],how = 'left')
    merged_list.append(df)

#겹치는 열 제거하고 열 이름 변경

for df in merged_list:
    df.drop([2,4],axis =1, inplace=True)
    df.rename(columns={3 : 'si_name',5 : 'dong_name'},inplace=True)

In [31]:
#날씨 데이터 읽어오기
#모든 지역의 날씨데이터를 하나의 파일로 합쳤기에 sum이라는 변수 사용함

sum = pd.read_csv('./download/sum.csv',encoding='EUC-KR')
sum

,city,year,avg_temp(℃),avg_high_temp(℃),avg_low_temp(℃),avg_hum(%rh),rain(mm),avg_wind(m/s),max_wind(m/s),month
0,전주,11,-4.9,0.2,-13.4,63,4.5,1.8,7.5,1
1,전주,11,2.1,8.1,-9.7,68,58.4,1.5,8.5,2
2,전주,11,4.5,10.8,-5.7,54,23.5,2.3,8.2,3
3,전주,11,11.7,18.5,0.3,57,80.8,2.4,8.3,4
4,전주,11,18.8,24.6,6.4,60,122.8,2.1,9.6,5
...,...,...,...,...,...,...,...,...,...,...
1675,고창,20,27.4,31.5,21.0,84,362.3,2.9,14.5,8
1676,고창,20,20.7,25.7,10.9,85,227.9,2.4,17.3,9
1677,고창,20,14.0,20.5,3.3,73,10.2,2.3,8.9,10
1678,고창,20,9.0,14.7,-1.0,70,58.3,3.0,10.1,11
1679,고창,20,1.1,6.7,-10.5,71,28.7,2.8,10.6,12

In [32]:
#날씨데이터에 지역 이름이 딱 2글자로 되어있기에 현재의 이름에서 앞의 두 글자만 따로 뽑아냄
for df in merged_list:
    df['si_name'] = df.apply(lambda row : str(row['si_name'])[0:2], axis = 1)

#집계구 데이터에서 도시 이름이 어떻게 되어있는지 확인
print(merged_list[0]['si_name'].unique())

#날씨 데이터에서 도시 이름이 어떻게 되어있는지 확인
print(sum['city'].unique())

['전주' '군산' '익산' '정읍' '남원' '김제' '완주' '진안' '무주' '장수' '임실' '순창' '고창' '부안']
['전주' '군산' '익산' '정읍' '남원' '김제' '부안' '완주' '진안' '무주' '장수' '임실' '순창' '고창']

In [33]:
#각 연도별 집계구 데이터에 연도 데이터가 없기에 이를 추가
year = 11

for df in merged_list:
    df['year'] = year
    year += 1

#데이터 잘 붙었나 확인
merged_list[0]

,code,total_pop,avg_age,pop_dens,eld_dep_ratio,total_house,ho_ar_001,ho_ar_002,ho_ar_003,ho_ar_004,...,cp_bem_017,cp_bem_018,cp_bem_019,cp_bem_999,do_index,si_index,dong_index,si_name,dong_name,year
0,35011600010001,597,42.8,10347.1,143.0,169,0.0,0.0,5.0,51.0,...,6.0,0.0,5.0,0.0,35,11,600,전주,동서학동,11
1,35011600010002,884,42.9,3981.5,211.8,230,0.0,7.0,19.0,66.0,...,5.0,7.0,24.0,0.0,35,11,600,전주,동서학동,11
2,35011600010003,889,28.6,6742.7,276.5,82,0.0,0.0,8.0,26.0,...,9.0,0.0,13.0,0.0,35,11,600,전주,동서학동,11
3,35011600020001,556,43.6,721.5,132.1,174,0.0,6.0,32.0,82.0,...,0.0,0.0,5.0,0.0,35,11,600,전주,동서학동,11
4,35011600020002,550,45.7,136.9,208.8,217,0.0,6.0,85.0,46.0,...,12.0,0.0,9.0,0.0,35,11,600,전주,동서학동,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,35580420010191,14,53.4,7.4,0.0,7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35,580,420,부안,위도면,11
3687,35580420010205,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,35,580,420,부안,위도면,11
3688,35580420010234,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,35,580,420,부안,위도면,11
3689,35580420010255,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,35,580,420,부안,위도면,11
3690,35580420010258,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,35,580,420,부안,위도면,11

In [34]:
#각 집계구 데이터를 분기별로 4개로 복사해서 각각 1,2,3,4 (겨울, 봄, 여름, 가을)
#각 계절에 어느 달을 넣을 것 인지는 화재발생데이터에서도 적용되는 겨울 12,1,2월 봄 3,4,5월 여름 6,7,8월 가을 9,10,11월로 입력

for i in range(10):
    df1 = merged_list[i].copy()
    df2 = merged_list[i].copy()
    df3 = merged_list[i].copy()
    df4 = merged_list[i].copy()
    df1['season'] = 1 #겨울
    df2['season'] = 2 #봄
    df3['season'] = 3 #여름
    df4['season'] = 4 #가을
    merged_list[i] = pd.concat([df1,df2,df3,df4],axis = 0)

merged_list[0]

,code,total_pop,avg_age,pop_dens,eld_dep_ratio,total_house,ho_ar_001,ho_ar_002,ho_ar_003,ho_ar_004,...,cp_bem_018,cp_bem_019,cp_bem_999,do_index,si_index,dong_index,si_name,dong_name,year,season
0,35011600010001,597,42.8,10347.1,143.0,169,0.0,0.0,5.0,51.0,...,0.0,5.0,0.0,35,11,600,전주,동서학동,11,1
1,35011600010002,884,42.9,3981.5,211.8,230,0.0,7.0,19.0,66.0,...,7.0,24.0,0.0,35,11,600,전주,동서학동,11,1
2,35011600010003,889,28.6,6742.7,276.5,82,0.0,0.0,8.0,26.0,...,0.0,13.0,0.0,35,11,600,전주,동서학동,11,1
3,35011600020001,556,43.6,721.5,132.1,174,0.0,6.0,32.0,82.0,...,0.0,5.0,0.0,35,11,600,전주,동서학동,11,1
4,35011600020002,550,45.7,136.9,208.8,217,0.0,6.0,85.0,46.0,...,0.0,9.0,0.0,35,11,600,전주,동서학동,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,35580420010191,14,53.4,7.4,0.0,7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,35,580,420,부안,위도면,11,4
3687,35580420010205,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,35,580,420,부안,위도면,11,4
3688,35580420010234,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,35,580,420,부안,위도면,11,4
3689,35580420010255,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,35,580,420,부안,위도면,11,4
3690,35580420010258,0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,35,580,420,부안,위도면,11,4

In [35]:
#m_list는 각 연도별 집계구 데이터에 날씨 데이터를 합친 것을 저장하는 리스트, 0~9 인덱스가 2011~2020년으로 배정되어 있음
#알고리즘은 먼저 날씨데이터에서 각 계절별 월 정보만 뽑아냄 -- 3개의 월별 날씨 정보를 하나의 행으로 합치기(c1을 먼저 만들어 놓고 나머지는 만들면서 c1에 합치는 방법 사용) -- 날씨 데이터 처리된 열에 계절 데이터 추가,필요없는 열 제거 -- 기존 집계구 데이터와 도시이름,연도,계절을 맞추어서 병합

m_list = []
for j in range(10):
    s1 = sum[((sum['month'] >= 1) & (sum['month'] < 3)) | (sum['month'] == 12)] #겨울
    #월별 날씨 한 행으로 합치기
    c1 = pd.DataFrame(pd.concat([s1.iloc[i].add_suffix(i) for i in range(0,3)],axis = 0)).T
    for k in range(1,140):
        c2 = pd.DataFrame(pd.concat([s1.iloc[i].add_suffix(i%3) for i in range(3*k,3*k+3)],axis = 0)).T
        c3 = pd.concat([c1,c2],axis=0)
        c1 = c3
    #계절데이터 추가
    c1['season'] = 1
    #필요없는 열 제거
    c1.drop(c1.columns[[10,11,20,21]],axis=1,inplace=True)
    #기존 집계구 데이터와 병합
    m1 = pd.merge(merged_list[j][merged_list[j]['season'] == 1],c1,left_on = ['si_name','year','season'],right_on = ['city0','year0','season'],how = 'left')
        
    s2 = sum[(sum['month'] >= 3) & (sum['month'] < 6)] #봄
    c1 = pd.DataFrame(pd.concat([s2.iloc[i].add_suffix(i) for i in range(0,3)],axis = 0)).T
    for k in range(1,140):
        c2 = pd.DataFrame(pd.concat([s2.iloc[i].add_suffix(i%3) for i in range(3*k,3*k+3)],axis = 0)).T
        c3 = pd.concat([c1,c2],axis=0)
        c1 = c3
    c1['season'] = 2
    c1.drop(c1.columns[[10,11,20,21]],axis=1,inplace=True)
    m2 = pd.merge(merged_list[j][merged_list[j]['season'] == 2],c1,left_on = ['si_name','year','season'],right_on = ['city0','year0','season'],how = 'left')
        
    s3 = sum[(sum['month'] >= 6) & (sum['month'] < 9)] #
    c1 = pd.DataFrame(pd.concat([s3.iloc[i].add_suffix(i) for i in range(0,3)],axis = 0)).T
    for k in range(1,140):
        c2 = pd.DataFrame(pd.concat([s3.iloc[i].add_suffix(i%3) for i in range(3*k,3*k+3)],axis = 0)).T
        c3 = pd.concat([c1,c2],axis=0)
        c1 = c3
    c1['season'] = 3
    c1.drop(c1.columns[[10,11,20,21]],axis=1,inplace=True)
    m3 = pd.merge(merged_list[j][merged_list[j]['season'] == 3],c1,left_on = ['si_name','year','season'],right_on = ['city0','year0','season'],how = 'left')
        
    s4 = sum[(sum['month'] >= 9) & (sum['month'] < 12)] #가을
    c1 = pd.DataFrame(pd.concat([s4.iloc[i].add_suffix(i) for i in range(0,3)],axis = 0)).T
    for k in range(1,140):
        c2 = pd.DataFrame(pd.concat([s4.iloc[i].add_suffix(i%3) for i in range(3*k,3*k+3)],axis = 0)).T
        c3 = pd.concat([c1,c2],axis=0)
        c1 = c3
    c1['season'] = 4
    c1.drop(c1.columns[[10,11,20,21]],axis=1,inplace=True)
    m4 = pd.merge(merged_list[j][merged_list[j]['season'] == 4],c1,left_on = ['si_name','year','season'],right_on = ['city0','year0','season'],how = 'left')

    #계절별로 처리된 데이터를 다시 하나로 합쳐서 연도별 집계구 데이터로 만들기
    m_list.append(pd.concat([m1,m2,m3,m4],axis = 0))

In [36]:
#날씨데이터와 합쳐는 집계구 데이터를 csv파일로 내보내기
#이때 인코딩을 EUC-KR로 해주어야 엑셀파일에서 한글이 안깨지고 확인 가능

m_list[0].to_csv('./code_data/code_2011.csv',index=True,encoding='EUC-KR')

m_list[1].to_csv('./code_data/code_2012.csv',index=True,encoding='EUC-KR')

m_list[2].to_csv('./code_data/code_2013.csv',index=True,encoding='EUC-KR')

m_list[3].to_csv('./code_data/code_2014.csv',index=True,encoding='EUC-KR')

m_list[4].to_csv('./code_data/code_2015.csv',index=True,encoding='EUC-KR')

m_list[5].to_csv('./code_data/code_2016.csv',index=True,encoding='EUC-KR')

m_list[6].to_csv('./code_data/code_2017.csv',index=True,encoding='EUC-KR')

m_list[7].to_csv('./code_data/code_2018.csv',index=True,encoding='EUC-KR')

m_list[8].to_csv('./code_data/code_2019.csv',index=True,encoding='EUC-KR')

m_list[9].to_csv('./code_data/code_2020.csv',index=True,encoding='EUC-KR')